<?xml version="1.0"?>

<launch>

    <!-- argument you can pass when launching the file, example -> use_sim_time:=true -->
    <arg name="rviz" default="false"/>
    <arg name="jsp" default="false"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find cleanbot_package)/description/cleanbot.urdf.xacro'" />
    
    <group if="$(arg jsp)">
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    </group>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" output="screen"/>
    </group>

</launch>